# use to change the dataset you want to create tiles for
export DATASET=central-activities-zone
#  optional variables for using ead and write buckets
# export READ_S3_BUCKET=development-collection
# export WRITE_S3_BUCKET=development-tiles
